NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_PRIMARY_PHONE=8010098690
NEXT_PUBLIC_WHATSAPP_NUMBER=8010098690
NEXT_PUBLIC_PRIMARY_EMAIL=atharvaharane1272004@gmail.com
NEXT_PUBLIC_COMPANY_ADDRESS=103, Badlapur
NEXT_PUBLIC_SOLAR_URL=
NEXT_PUBLIC_CONSTRUCTION_URL=
LEAD_NOTIFICATION_EMAIL=atharva@acpce.ac.in
DATABASE_URL=
EMAIL_SERVER=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_META_PIXEL_ID=
